<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebServiceSuite">
	<test name="AppfoundationTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="connection" />
				<exclude name="companyAccess" />
				<exclude name="siteAccess" />
				<exclude name="userAccess" />
				<exclude name="basicSecurityMethodTest" />
				<exclude name="roleAccess" />
				<exclude name="groupAccess" />
				<exclude name="contactAccess" />
				<exclude name="organizationAccess" />
				<exclude name="pool" />
				<exclude name="clearData" />
				<exclude name="className" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.liferay.access.AccessTest" />
		</classes>
	</test>
</suite>

